@model EmployeeManagement.DTOs.EmployeeManageDaysDTO
@{
    ViewData["Title"] = "Manage Leave Days";
    var currentPage = ViewBag.CurrentPage;
}

<div class="container mt-5">
    <h2 class="text-center mb-3">Manage Leave Days</h2>
    <p class="text-center text-muted mb-4">
        Use "-" in front of the number to deduct days; otherwise, the number will be added.
    </p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="ManageDays" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="EmployeeId" />

                        <div class="form-group mb-3">
                            <label asp-for="AnnualLeaveDaysRemaining" class="form-label">Change Annual Leave Days:</label>
                            <input asp-for="AnnualLeaveDaysRemaining" class="form-control form-control-sm" />
                            <small class="form-text text-muted">
                                Current Annual Leave Days: @Model.AnnualLeaveDaysRemaining
                            </small>
                            <span asp-validation-for="AnnualLeaveDaysRemaining" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="BonusLeaveDaysRemaining" class="form-label">Change Bonus Leave Days:</label>
                            <input asp-for="BonusLeaveDaysRemaining" class="form-control form-control-sm" />
                            <small class="form-text text-muted">
                                Current Bonus Leave Days: @Model.BonusLeaveDaysRemaining
                            </small>
                            <span asp-validation-for="BonusLeaveDaysRemaining" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <input type="submit" value="Submit" asp-route-page="@currentPage" class="btn btn-primary btn-sm" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-3 text-center">
                <a asp-action="AllEmployees" asp-route-page="@currentPage" class="btn btn-success btn-sm">
                    Go Back To Employees
                </a>
            </div>
        </div>
    </div>
</div>
