@model EmployeeManagement.DTOs.LeaveRequestCreateDTO
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create Leave Requests";
    var employeeId = Context.Session.GetString("EmployeeId");
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-header bg-primary text-white text-center">
                <h5 class="mb-0">Create Leave Request</h5>
            </div>        
            <form asp-action="Create" method="post" class="needs-validation p-4 border rounded bg-light shadow-sm" novalidate>
                <input type="hidden" name="EmployeeId" value="@employeeId" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="StartDate" class="form-label fw-bold"></label>
                    <input asp-for="StartDate" class="form-control form-control-sm" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="startDate" onchange="updateEndDateMin()" />
                    <span asp-validation-for="StartDate" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="EndDate" class="form-label fw-bold"></label>
                    <input asp-for="EndDate" class="form-control form-control-sm" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="endDate" />
                    <span asp-validation-for="EndDate" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Comment" class="form-label fw-bold"></label>
                    <input asp-for="Comment" class="form-control form-control-sm" placeholder="Enter a comment" />
                    <span asp-validation-for="Comment" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LeaveType" class="form-label fw-bold"></label>
                    <select asp-for="LeaveType" class="form-select form-select-sm" asp-items="@(new SelectList(Enum.GetValues(typeof(EmployeeManagement.Enums.EnumTypes.LeaveType))))">
                    </select>
                    <span asp-validation-for="LeaveType" class="text-danger small"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm px-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function updateEndDateMin() {
        let startDate = document.getElementById("startDate").value;
        document.getElementById("endDate").min = startDate;
    }
</script>